Repository humblemetsuke/poetry-pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: vulture, block-env-files, build-sphinx, hadolint, compose-lint

Path conditions:
  vulture: any of: \.py$
  block-env-files: any of: (^|/)\.env(\.[a-zA-Z0-9_-]+|$)
  build-sphinx: any of: \.(rst|md)$, but not: ^(\.venv|venv|\.mypy_cache|\.pytest_cache|build|dist)/
  hadolint: any of: ^Dockerfile$
  compose-lint: any of: ^(docker-)?compose\.ya?ml$ and \.(yaml|yml)$

chore(docker): add publish step that will trigger only if all other tests pass
  .github/workflows/ci-cd.yml
Due: none

chore(ci-cd): remove --no-root to install app package in editable mode
  .github/workflows/ci-cd.yml
Due: none

chore(syft): add export PATH so syft binary is located properly
  .github/workflows/ci-cd.yml
Due: none

chore(Syft): alter PATH variable to properly install Syft
  .github/workflows/ci-cd.yml
Due: none

refactor(hadolint): organise the hadolint hook for readability
  .pre-commit-config.yaml
Due: none

chore(hadolint): add explicit path to .exe of hadolint
  .pre-commit-config.yaml
Due: none

chore(hadolint): alter entry path to hadolint exe
  .pre-commit-config.yaml
Due: none

chore(hadolint): remove hadolint hook
  .pre-commit-config.yaml
Due: none

chore(docker): use cli plugin for docker compose
  .github/workflows/ci-cd.yml
  .pre-commit-config.yaml
Due: none

chore(ci-cd): add modern docker compose to entire file
  .github/workflows/ci-cd.yml
Due: none

chore(ci): add robust CI/CD pipeline with docker-compose healthcheck
  .github/workflows/ci-cd.yml
Due: none

chore(ports): add dynamic host port to avoid CI port conflicts
  .github/workflows/ci-cd.yml
Due: none

chore(ci-cd): alter file to make it more idempotent for reproducibility
  .github/workflows/ci-cd.yml
Due: none

chore(dockerfile): add apt-get install curl to ensure health-check is runnable
  Dockerfile
Due: hadolint

chore(docker-compose): add randomised ports to replace hardcoded value
  docker-compose.yml
Due: compose-lint

chore(pipeline): update ci-cd pipeline dynamic ports docker compose healthcheck
  .github/workflows/ci-cd.yml
Due: none

chore(compose): add writable volume for logs for read only container
  docker-compose.yml
Due: compose-lint

chore(dockerfile): create app/logs then transfer ownership to appuser
  Dockerfile
Due: hadolint

chore: save local changes before pulling main
  .github/workflows/ci-cd.yml
  .pre-commit-config.yaml
  Dockerfile
  docker-compose.yml
Due: hadolint, compose-lint

Enhance README with project details and setup instructions
  README.md
Due: build-sphinx

Update README with project details and setup instructions
  README.md
Due: build-sphinx

Update README with setup and workflow instructions
  README.md
Due: build-sphinx

Add CI badge to README
  README.md
Due: build-sphinx

Refactor README for better organization and readability
  README.md
Due: build-sphinx

Revise README for clarity and detail
  README.md
Due: build-sphinx

Refactor README for clarity and conciseness
  README.md
Due: build-sphinx

Remove CI badge from README
  README.md
Due: build-sphinx

Fix table formatting in README.md
  README.md
Due: build-sphinx

Update README to remove features and add image
  README.md
Due: build-sphinx

Revise project overview in README.md
  README.md
Due: build-sphinx

Update README with project overview and features
  README.md
Due: build-sphinx

Remove Features section from README
  README.md
Due: build-sphinx

Clean up README formatting
  README.md
Due: build-sphinx

Enhance README with badges and formatting updates
  README.md
Due: build-sphinx

Update README by removing badges and features
  README.md
Due: build-sphinx

Remove project description from README
  README.md
Due: build-sphinx

Remove project overview and tech stack from README
  README.md
Due: build-sphinx
